ProjectManagementLite/ProjectManagementLite/appsettings.Development.json
ProjectManagementLite/ProjectManagementLite/obj/project.assets.json
ProjectManagementLite/ProjectManagementLite/obj/project.nuget.cache
ProjectManagementLite/ProjectManagementLite/obj/ProjectManagementLite.csproj.nuget.dgspec.json
ProjectManagementLite/ProjectManagementLite/obj/ProjectManagementLite.csproj.nuget.g.props
ProjectManagementLite/ProjectManagementLite/obj/Debug/net7.0/project.razor.json
ProjectManagementLite/ProjectManagementLite/obj/Debug/net7.0/ProjectManagementLite.assets.cache
ProjectManagementLite/ProjectManagementLite/obj/Debug/net7.0/ProjectManagementLite.GeneratedMSBuildEditorConfig.editorconfig
